.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.page-text {
  color: rgb(255, 255, 255);
  font-size: 6em;
}
.page-text1 {
  color: rgb(255, 255, 255);
  font-size: 30em;
  font-style: normal;
  font-weight: 900;
}
.page-text2 {
  color: rgb(255, 255, 255);
  font-size: 2em;
}
.page-navlink {
  display: contents;
}
.page-text3 {
  color: #8fc9ff;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
